[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=VidConvertX
GenericName=Conversor de Vídeo
Comment=Conversor de Vídeo Multi-formato (FFmpeg)
Exec=/home/seu-user/.AppImage/vidconvertx.AppImage
Icon=/home/seu-user/.AppImage/vidconvertx.png
Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=video;convert;ffmpeg;
Name[pt_BR]=VidConvertX
