[Desktop Entry]
Version=1.0
Type=Application
Name=VidConvertX
Name[pt_BR]=VidConvertX
Comment=Conversor de Vídeo Multi-formato (FFmpeg)
Comment[pt_BR]=Conversor de Vídeo Multi-formato (FFmpeg)

# Caminho absoluto para o script na sua pasta .config
Exec=python3 /home/henrique/.config/vidconvertx/VidConvertX.py

# Caminho absoluto para o ícone (se o arquivo existir lá)
# Se preferir o ícone do sistema, use: Icon=video-x-generic
Icon=/home/henrique/.config/vidconvertx/vidconvertx.png

# Mantendo true para você ver as mensagens do FFmpeg no terminal
Terminal=false

Categories=AudioVideo;Video;AudioVideoEditing;
Keywords=video;converter;ffmpeg;
PrefersNonDefaultGPU=false
